<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
    <button>Money button</button>


    <script src="../api.js"></script>

    <script>
        
        console.log("abc")
        api.onReady.push(async()=>{
            console.log("ready!")
            await api.request.game() // ! Do not ever, ever, modify the game object DIRECTLY without requesting the game object.
            document.querySelector("button").onclick=()=>{
                api.do.addSugar(1)
            }
        })
    </script>
</body>
</html>