/* This file is for any input related styling. From buttons to text inputs. */
button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transform: translateY(0px);
    transition: background-color 0.2s, transform  0.2s, box-shadow  0.2s;
    box-shadow: 0px 10px 0px 0px #00458f;
}
button:hover {
    background-color: #218cff;
    box-shadow: 0px 13px 0px 0px #00458f;
    transform: translateY(-3px);
}
button:active {
    background-color: #00458f;
    box-shadow: 0px 4px 0px 0px #00346c;
    transform: translateY(6px);
}