/* Stuff related to loading animations and stuff */
#coverDiv {
  z-index: 100000 !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  background-color: #2c2c2c !important;

  width: 100vw !important;
  height: 100vh !important;
  transition: transform 1s ease-in-out !important;

  text-align: center !important;
  font-size: 0vmin !important;
}

.coverDivAnimate {
  transform: translateY(100vh) !important;
}
