.menuContainer {
  background-color: black;
  color: white;
  border: black solid 2px;
}

.menuTab {
  background-color: #4f4f4f;
  border: #363636 solid 2px;
  transition: background-color 0.1s;
  font-size:2vmin;
  cursor:pointer!important;
  padding-left:1em;
}

.menuTab:hover {
  background-color: #666666;
}

.menuTab:active {
  background-color: #5c5c5c;
}
