/* Things that you are unsure of where to put go here. */
#companyName {
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    font-size: 3vmin;
    margin-top: 0vh; 
    padding: 1vh 0; 
    background-color: #333; 
    cursor: pointer;
}

/* New style for #name */
#name {
    text-align: right;
    color: #fff; 
    margin-top: 0vh;
    padding: 1vh 0; 
    background-color: #33333300; 
    font-size: 3vmin;
    border: none;
}
#titlebar {
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    font-size: 3vmin;
    margin-top: 0vh; 
    padding: 1vh 0; 
    background-color: #333; 
}

.titlebar {
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    font-size: 3vmin;
    margin-top: 0vh; 
    padding: 1vh 0; 
    background-color: #333; 
}

.warehouseicon {
    cursor: pointer;
    width: 80%;
    position: absolute;
    bottom: 15vmin;
    transform: translateX(12%);
    transition: transform 0.2s;
}

.warehouseicon:hover {
    transform: scale(1.01) translateX(12%);
}

.warehouseicon:active {
    transform: scale(0.95) translateX(12%);
}