#popup{
    background-color: grey;
    z-index: 10000;
    position: fixed;
    top:20vh;
    left:70vh;


    width:fit-content;
    height: fit-content;
    padding: 2vmin;



    border-radius: 10px;

    transition:top 0.5s ease-in-out;
}

#popupSubmit{
    display:block;
    margin:auto;

    margin-top:10px;
}

#popupHeader{
    text-align: center;
    font-size:5vmin;
}

.popupClose{
    top: 110vh!important;;
}