.buycontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.upgradebuttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.upgradebuttons button {
    margin: 10px;
}
.upgradebuttons button:hover {
    cursor: pointer;
}
.upgradebuttons button:active {
    transform: scale(0.9);
}
.upgradebuttons button:soldout {
    outline: none;
}
.upgradebuttons button:nonupgradible {
    outline: none;
}